{% extends "base.html" %}
{% block content %}
<h2>Yangi Event qo‘shish</h2>

<form method="post">
    {% csrf_token %}

    <p>
        Nomi:<br>
        <input type="text" name="title" required>
    </p>

    <p>
        Tavsif:<br>
        <textarea name="description" required></textarea>
    </p>

    <p>
        Event turi:<br>
        <select name="event_type" required>
            <option value="ONLINE">Online</option>
            <option value="OFFLINE">Offline</option>
        </select>
    </p>

    <p>
        Joylashuv (agar offline bo‘lsa):<br>
        <input type="text" name="location">
    </p>

    <p>
        Boshlanish vaqti:<br>
        <input type="datetime-local" name="start_time" required>
    </p>

    <p>
        Tugash vaqti:<br>
        <input type="datetime-local" name="end_time" required>
    </p>

    <p>
        Capacity:<br>
        <input type="number" name="capacity" min="1" required>
    </p>

    <button type="submit">Qo‘shish</button>
</form>
{% endblock %}
